#nav-bar {
	background-color: black;
	overflow:hidden;
	color: white;
}
#nav-container {
	float: left;
	width: 100%;
	position: relative;
}
#nav-bar ul li a {
	display: block;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	left: 50%;
	float: left;
	font-family: Palatino, "Palatino Linotype";
}
#nav-bar ul li a:hover {
	background-color: #000;
}

