
#wallpaper {
	background-color: teal;
}
#nav-bar {
	background-color: #E3735E;
	overflow: hidden;
}
#nav-container {
	float: left;
	width: 100%;
	position: relative;
}
#nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	float: left;
}
#nav-bar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
	font-family: "Palatino";
}
#nav-bar ul li a {
	display: block;
	padding: 20px 20px;
	color: white;
	text-decoration: none;
}
#nav-bar ul li a:hover {
	background-color: grey;
}
#header {
	background-color: #008B8B;
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10px;
	margin-right: 10px;
}
#sklls {
	border-style: solid;
}
#skills h2 {
	background-color: #5F9EA0;
	color: white;
	font-size: 25px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10px;
	margin-right: 10px;
}
#skills ul li {
	margin-left: 10px;
	margin-right: 10px;
	font-family: "Palatino";
	color: white;
	text-align: left;
	list-style-type: none;
	border-style:inset;
}
#edu {
	border-style: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

h2 {
	background-color: #5F9EA0;
	color: white;
	font-size: 25px;
	text-align: center;
	font-family: "Palatino";
	margin-top: 25px;
}
h4 {
	color: white;
	font-size: 16px;
	text-align: left;
	font-family: "Palatino";
}
p {
	color: white;
	text-align: left;
	font-family: "Palatino";
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
ul li {
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Palatino";
	color: white;
	text-align: left;
	list-style-type: none;
	border-style:inset;
}
#experience {
	border-style: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#contact {
	background-color: #20B2AA;
	color: white;
	font-size: 25px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-style: hidden;
}
#header2 {
	background-color: #008B8B;
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10px;
	margin-right: 10px;
}
#header3 {
	background-color: #008B8B;
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10%;
	margin-right: 10%;
}
#header4 {
	background-color: #008B8B;
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10%;
	margin-right: 10%;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	height: 25%;
}
iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	height: 25%;
}

