
#wallpaper {
	background-color: teal;
}
#nav-bar {
	background-color: #E3735E;
	overflow: hidden;
}
#nav-container {
	float: left;
	width: 100%;
	position: relative;
}
#nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	float: left;
}
#nav-bar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
	font-family:"Palatino";
}
#nav-bar ul li a {
	display: block;
	padding: 20px 20px;
	color: white;
	text-decoration: none;
}
#nav-bar ul li a:hover {
	background-color: grey;
}
h1 {
	background-color: #008B8B;
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10px;
	margin-right: 10px;
}


#skills {
	text-align: center;
	border-style: solid;
	border-color: #E3735E;
	float: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #20B2AA;
}
#skills h2 {
	background-color: #5F9EA0;
	color: white;
	font-size: 25px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10px;
	margin-right: 10px;
}
#skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	float: left;
}
#skills ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
	font-family:"Palatino";
}
#skills ul li a {
	display: block;
	padding: 20px 20px;
	color: white;
	text-decoration: none;
}
#edu {
	text-align: center;
	border-style: solid;
	border-color: #E3735E;
	float: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #20B2AA;
}
#experience {
	text-align: center;
	border-style: solid;
	border-color: #E3735E;
	float: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #20B2AA;
}
#contact {
	background-color: #20B2AA;
	color: white;
	font-size: 25px;
	text-align: center;
	font-family: "Palatino";
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-style: hidden;
}	
	

